:root {
  --white: #fafafa;
  --grey: #646E78;
  --black: #2b2b2b;
  --true-black: #000000;
  --primary: #AD343E;
  --primary-dark: #6E2127;
  --beige: #EFF8E2;
  --secondary: #0B4F6C;
  --test: #0ff00f;
}

html {
  background-color: var(--black);
}