.overview-container:before {
  content: '' ;
  display:block;
  float: right;
}

.overview {
  float: right;  
  clear: both;
  width: 300px;
  border: 1px solid var(--black);
  margin: 0 0 20px 20px;
  padding: 3px;
  display: flex;
  flex-flow: column nowrap;
  gap: 5px;
  background-color: var(--black);
}

.overview-items {
  display: flex;
  flex-flow: column nowrap;
  gap: 1px 0;
  width: 100%;
}

.overview-row {
  width: 100%;
  background-color: var(--white);
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 100%;
  align-items: center;
}

.overview-item {
  display: inline-block;
  align-items: center;
  width: 100%;
  overflow-wrap: break-word;
  vertical-align: top;
}

.label {
  font-weight: bold;
}

.overview-item.overview-header {
  text-align: center;
  background-color: var(--black);
  color: var(--white);
}

.overview-item.overview-header h3 {
  padding: 0;
  margin: 0;
}

.overview-item:not(.image) {
  padding: 7px;
}

.overview-item a {
  color: var(--true-black);
}

.overview-item.overview-header a {
  color: var(--white);
}

.over-item.image {
  background-color: transparent;
  padding: 0 7px;
}

.overview-item img {
  width: 100%;
}

.character-header {
  color: var(--white);
  text-align: center;
  font-weight: bold;
  padding: 3px;
}

@media(max-width: 600px) {
  .overview {
    width: 100%;
  }
}