:root {
  --black: #2b2b2b;
  --white: #fafafa;
  --grey: #646E78;
  --primary: #AD343E;
  --secondary: #641E24;
  --true-black: #000000;
  --test: #0ff00f;
}

html {
  background-color: var(--black);
}