.splash {
  text-align: center;
}

.logo {
  width: 300px;
  max-width: 50%;
  overflow: hidden;
  -webkit-transition: all 0.0s ;
  -moz-transition: all 0.0s ;
  -o-transition: all 0.0s ;
  transition: all 0.0s;
  animation: rotate 1.3s ease-out backwards;
}

.socialIconsWrapper {
  display: flex;
  justify-content: center;
}

.socialIcons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

@media(min-width: 400px) {
  .socialIcons {
    width: 400px;
  }
}

@keyframes rotate {
  0% {}
  25% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.logo.clicked {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  transform: rotate(360deg);

  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}