.card {
  transition: 0.3s;
  width: 100%;
  min-width: 100px;
  height: 150px;
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 100%;
  margin: 20px 0;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card img {
  min-height: 100%;
  width: 100%;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.card:hover img {
  transform: scale(1.25);
}

.img-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-container {
  display: inline-block;
  padding: 10px;
  background-color: var(--black);
  color: var(--white);
  white-space: no-wrap;
}

.description-container {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines to show */
}

a:link, a:hover, a:visited, a:active {
  text-decoration: none;
  color: #00000f;
}