.page {
  background-color: #646E78;
  padding: 5% 10% 5% 10%;
  overflow: hidden;
}

.page-block {
  background-color: var(--white);
  padding: 30px;
  box-shadow: 0 8px 16px 0 #242424;
  max-width: 1500px;
  margin: 0 auto;
}