.page {
  background-color: var(--white);
  overflow: hidden;
  caret-color: var(--white);
}

.wrapper {
  /* background-color: var(--test); */
  margin: 0 auto;
  text-align: left;
  padding: 5%;
  font-size: 16px;
  animation: fadeIn 500ms ease-out backwards;
  z-index: -2;
}

@keyframes fadeIn {
  from {
    transform: translateY(-50vh);
    opacity: 1;
  } to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media(min-width: 960px) {
  .wrapper {
    width: 960px;
    padding: 40px;
  }
}