.footer {
  background-color: var(--black);
  color: var(--white);
}

.footer-wrapper {
  max-width: 1500px;
  margin: 0 auto;
  padding: 10px !important;
  font-family: 'Courier New', Courier, monospace;
}

@media(min-width: 960px) {
  .footer-wrapper {
    width: 960px;
  }
}

.f1, .f2, .f3 {
  display: inline-block;
  width: 33%;
}

.f1 {
  text-align: left;
}

.f2 {
  text-align: center;
}

.f3 {
  text-align: right;
}