.nav {
  background-color: var(--black);
  color: var(--white);
  text-align: center;
  text-decoration: none;
  overflow: visible;
  z-index: 1;
  height: 53px;
  position: sticky;
  display: flex;
  align-items: center;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-logo-container {
  height: 100%;
  display: flex;
  flex-flow: row flex-start;
  align-items: center;
  animation: fadeRight 300ms ease-out backwards;
}

.nav-logo-link {
  height: 100%;
  padding: 0 0 0 10px;
  display: block;
}

.nav-logo {
  height: 90%;
  margin: auto;
  padding-top: 5px;
}

.nav-item, .nav-name {
  font-family: 'Courier New', Courier, monospace;
  font-size: 17px;
  text-decoration: none;
  color: var(--white) !important;
  text-align: center;
  padding: 14px 16px;
  display: block;
}

.active {
  background-color: var(--primary);
}

.nav-item:hover:is(.active) {
  background-color: var(--primary-dark);
}

.nav-item:hover:not(.active) {
  background-color: var(--true-black);
}

.icon {
  display: none;
  margin-left: auto;
  font-family: 'Courier New', Courier, monospace;
  font-size: 17px;
  text-decoration: none;
  color: var(--white) !important;
  text-align: center;
  padding: 14px 16px;
  animation: fadeLeft 500ms ease-out backwards;
}

.links-container {
  display: flex;
  animation: fadeLeft 500ms ease-out backwards;
}

@keyframes fadeLeft {
  from {
    transform: translateX(100%);
    opacity: 0;
  } to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeRight {
  from {
    transform: translateY(-100%);
    opacity: 0;
  } to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media(max-width: 1000px) {
  .nav {
    background-color: transparent;
  }
  .nav-logo-container {
    width: 100%;
    background-color: var(--black);
    z-index: 3;
  }
  .links-container * {
    display: none;
  }
  .icon {
    display: block;
  }
  .links-container {
    display: block;
    background-color: var(--black);
  }
  @keyframes fadeLeft {
    from {
      transform: translateY(-100%);
      opacity: 1;
    } to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fadeRight {
    from {
      transform: translateY(-100%);
      opacity: 1;
    } to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

@media(max-width: 1000px) {
  .links-container.active {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    position: absolute;
    z-index: 2;
    margin-top: 424px;
  }
  .links-container.active * {
    display: flex;
    text-align: left;
    width: 100%;
  }
}