.nav-logo {
  height:auto;
  width:auto;
  max-height: 45px;
  max-width: 45px;
}

.nav {
  background-color: var(--black);
  color: var(--white);
  text-align: center;
  text-decoration: none;
  overflow: hidden;
}

.nav-logo-container {
  height: 100%;
  display: flex;
  flex-flow: row flex-start;
}

.nav-logo-link {
  height: 100%;
  padding: 0 0 0 10px;
  display: block;
  align-self: center;
}

.nav-logo {
  height: 100%;
  width: 100%;
  margin: auto 0px;
}

.nav-name {
  font-family: 'Courier New', Courier, monospace;
  font-size: 17px;
  text-decoration: none;
  color: var(--white) !important;
  text-align: center;
  padding: 14px 16px;
  display: block;
}

.nav-item {
  font-family: 'Courier New', Courier, monospace;
  font-size: 17px;
  text-decoration: none;
  color: var(--white) !important;
  text-align: center;
  padding: 14px 16px;
  display: block;
}

.active {
  background-color: var(--primary);
}

.nav-item:hover:is(.active) {
  background-color: var(--primary-dark);
}

.nav-item:hover:not(.active) {
  background-color: var(--true-black);
}

.icon {
  display: none;
  margin-left: auto;
  font-family: 'Courier New', Courier, monospace;
  font-size: 17px;
  text-decoration: none;
  color: var(--white) !important;
  text-align: center;
  padding: 14px 16px;
}

.links-container {
  display: flex;
  animation: fadeIn 500ms ease-out backwards;
}

@keyframes fadeIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  } to {
    transform: translateX(0);
    opacity: 1;
  }
}

@media(max-width: 960px) {
  .nav {
    background-color: transparent;
  }
  .nav-logo-container {
    width: 100%;
    background-color: var(--black);
    z-index: 1;
  }
  .links-container * {
    display: none;
  }
  .icon {
    display: block;
  }
  .links-container {
    display: block;
    background-color: var(--black);
  }
  @keyframes fadeIn {
    from {
      transform: translateY(-100%);
      opacity: 1;
    } to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

@media(max-width: 960px) {
  .links-container.active {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
  }
  .links-container.active * {
    display: flex;
    text-align: left;
    width: 100%;
  }
}